@font-face {
    font-family: a;
    src: url(Robus-BWqOd.otf);
}
h1{
    margin-bottom: 100px;
    margin-left: 6%;
    font-family: a;
    font-size: 100px;
    font-weight: 10;
    text-align: left;
    text-shadow: 5px 5px 5px black;
    color: rgb(146, 195, 48);
}

#container{
    text-align: center;
    /* background-color: red; */
}
body{
    background-color: rgba(153, 205, 50, 0.472);
}
label{
    /* font-family: Verdana; */
    font-size: 4em;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: rgb(146, 195, 48);;
    background-color: rgba(255, 255, 255, 0.504);
    border-radius: 15px;
    padding: 10px;
}
#incrementer{
    cursor: pointer;
}
#reset{
    cursor: pointer;

}
button{
    padding: 10px 100px;
    /* width: 70%; */
    background-color: greenyellow;
    transition: background-color 0.5s;
}
button:active{
    background-color: green;
}
button:hover{
    background-color: rgba(0, 128, 0, 0.634);
}



@media (max-width: 760px) {
    body{
        background-color: blue;
    }
    label{
        font-size: 1.5em;
    }
    button{
        width: 60%;
    }
}
